 *{
      padding:0;
      margin:0
    }
    .container{
      overflow-x: hidden;
      max-width: 100%;
      min-height: 100vh;
      background: linear-gradient(135deg, #4203a9, #90bafc);
      color: white;
      padding: 10px 10% 10px 10%;


    }

    .calculator{
      max-width: 600px;
      margin-top: 10%;
    }
    

    .calculator h1{
      font-size: 60px;
    }

    .calculator h1 span{
      color: rgb(255, 255, 0);

    }

    .input-box{
      margin: 40px 0;
      padding: 35px 35px 35px 0;
      border-radius: 10px;
      background: rgba(225, 225, 225, 0, 3);
      display: flex;
      align-items: center;
      

    }

    .input-box input{
      flex: 1;
      margin-right: 20px;
      padding:14px 20px;
      border: 8;
      outline: 0;
      font-size: 18px;
      border-radius: 5px;
      position: relative;

    }
    
    .input-box button{
    background: #ffff76;
    border:0;
    outline:0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color:#333;
    cursor:pointer;

    }

.input-box input::-webkit-calendar-picker-indicator{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    height:auto;
    width:auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor:pointer;
}


@media (max-width: 640px){
    .container{
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.calculator h1{
  font-size: 40px;

}

.calculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  text-align: center;

}

.input-box{
  max-width: 100%;
}

}